.accountBill {
  .title {
    @include setSize(100%, px2rem(40px));
    padding-left: px2rem(20px);
    padding-right: px2rem(20px);
    @include font-dpr(17px);
    color: $color-black;
    line-height: px2rem(40px);
    .more-link {
      @include font-dpr(12px);
      line-height: px2rem(40px);
      color: $color-gray-secondary;
      //padding-right: px2rem(20px);
      position: relative;
      svg {
        fill: $color-gray-secondary;
        width: px2rem(16px);
        height: px2rem(16px);
        vertical-align: middle;
      }
    }

  }

  .bill-list {

    background: $white;
    .bill-item {
      display: block;
      @include setSize(100%, px2rem(75px));
      padding: px2rem(16px);
      @include font-dpr(13px);
      color: $color-gray-secondary;
      border-bottom: 1px solid $color-body-bg;
      .time {
        width: px2rem(50px);
        .date {
          line-height: px2rem(25px);
          @include font-dpr(14px);
        }
      }

      .bz {
        @include font-dpr(12px);
        color: $color-gray-primary;
        line-height: px2rem(18px);
      }
      .img-wrap {
        margin-right: px2rem(20px);
        @include setSize(px2rem(42px), px2rem(42px));
        border-radius: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .money {
        @include font-dpr(18px);
        color: $color-black;
        line-height: px2rem(25px);
      }

      .balance {
        line-height: px2rem(42px);

      }
    }

  }

  .account-detail {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //@include setSize(100%, px2rem(44px));
    background: $color-body-bg;


    .head_bak {
      @include setSize(100%, px2rem(44px));
      background: $white;
      position: relative;
      .head_goback {
        @include centerTop;
        left: px2rem(25px);
        @include setSize(px2rem(30px), px2rem(30px));
        line-height: px2rem(44px);
        //margin-left: px2rem(25px);
        svg {
          fill: $color-black;
          @include setSize(px2rem(20px), px2rem(20px));
        }
      }

      .title_head {
        @include center;
        width: 50%;
        color: $color-black;
        text-align: center;
        .title_text{
          @include font-dpr(14px);
          text-align: center;
          font-weight: bold;
        }
      }

    }


  }


}
