.comment {
  height: 100%;
  padding:px2rem(60px) 0 px2rem(10px);
  .head_top {
    z-index: 10;
  }
  .push {
    @include setSize(px2rem(60px), px2rem(40px));
    @include centerTop;
    right: px2rem(10px);
    @include font-dpr(14px);
    line-height: px2rem(40px);
    text-align: center;
    color: $color-red;
    .commit {
      @include setButton(px2rem(70px), px2rem(40px),$color-red,$white,0);
      @include font-dpr(13px)
    }
  }
  .container {
    height: 100%;
    background: $color-white;
    .tit {
      padding: 0 px2rem(15px);
      height: px2rem(25px);
      line-height: px2rem(25px);
      @include font-dpr(13px)
    }
  }
  .stars-wrapper {
    text-align: center;
    position: relative;

    .scores {
      @include centerTop;
      right: px2rem(30px);
      @include font-dpr(14px);
      line-height: px2rem(30px);
    }
  }
  .comment-content {
    padding: px2rem(15px);
    @include setSize(100%, px2rem(100px));
    textarea {
      width: 100%;
      height: 100%;
      @include font-dpr(14px);
      line-height: px2rem(24px);
      color: $color-black;
      padding: px2rem(10px);
    }

  }

  .img-wrap {
    padding: px2rem(15px);

    .upload {
      text-align: center;
      position: relative;
      margin-right: px2rem(10px);
      margin-bottom: px2rem(10px);
      img {
        @include setSize(px2rem(100px), px2rem(75px));
        background: url(../../assets/img/message_white.png) no-repeat center;
        background-size: 100%;
      }

      .close {
        position: absolute;
        right: px2rem(-5px);
        top: px2rem(-5px);
        @include setSize(px2rem(20px), px2rem(20px));
        background: url(../../assets/img/nav_search_delete@2x.png) no-repeat center;
        background-size: 100%;
        z-index: 10;
      }
    }

    .upload:nth-of-type(3n) {
      padding-right: 0;
    }
  }

  .tip-wrapper {
    padding: px2rem(15px);
  }





}
