.coupons {
  background-color: #f3f3f3;
  .select-title {
    .header-title {
      @include font-dpr(18px);
      line-height: px2rem(44px);
      vertical-align: middle;
      display: inline-block;
      height: px2rem(44px);
    }
  }
  .tab-wrap {
    height: px2rem(44px);
    .tab-item {
      width: 33.3333%;
      float: left;
      height: px2rem(44px);
      line-height: px2rem(44px);
      @include font-dpr(12px);
      vertical-align: middle;
      text-align: center;
      background: #FFFFFF;
    }
    .tab-item.active span {
      display: inline-block;
      height: 100%;
      border-bottom: 1px solid #FF5A5F;
      color: #FF5A5F;
    }
  }
  .coupons-wrap {
    padding: 0px px2rem(10px);
    margin-top: px2rem(10px);
    .no_data_text {
      @include font-dpr(12px);
      text-align: center;
    }
    //
    //margin: px2rem(10px) px2rem(10px);
    .coupon-ul {
      .coupon-item {
        border-radius: 5px;
        height: px2rem(130px);
        background-color: $white;
        width: 100%;
        padding-top: px2rem(24px);
        margin-bottom: px2rem(10px);
        .info {
          margin-left: px2rem(24px);
          color: #999999;
          .unit {
            @include font-dpr(16px);
          }
          .tiaojian {
            line-height: px2rem(35px);
            vertical-align: middle;
            @include font-dpr(12px);
          }
          .money {
            @include font-dpr(30px);
            line-height: px2rem(30px);
          }
          .desc {
            @include font-dpr(12px);
          }
        }
        .info.change.red {
          color: $color-red;
        }
        .shuoming {
          text-align: left;
          margin-left: px2rem(37px);
          .name {
            @include font-dpr(14px);
            margin-top: px2rem(5px);
            margin-bottom: px2rem(8px);
          }
          .date {
            @include font-dpr(12px)
          }
        }
        .shuoming.nouseful {
          color: #999999;
        }
        .top-info {
          height: px2rem(72.6px);
          border-bottom: 1px solid #FAFAFA;
          position: relative;
        }
        .top-info span.left {
          display: block;
          height: px2rem(20px);
          width: px2rem(20px);
          background-color: #f3f3f3;
          position: absolute;
          border-radius: 50%;
          bottom: 0px;
          left: px2rem(-10px);
        }
        .top-info span.right {
          display: block;
          height: px2rem(20px);
          width: px2rem(20px);
          background-color: #f3f3f3;
          position: absolute;
          border-radius: 50%;
          bottom: 0px;
          right: px2rem(-10px);
        }
      }
    }

  }

}
