.memberCenter {

  .header {
    //@include setSize(100%, px2rem(130px));
    background: url(../../assets/img/mecenter_bcimg.png) no-repeat center;
    background-size: 100%;

    .hd {
      padding: px2rem(20px) px2rem(20px) px2rem(10px);
      height: px2rem(95px);
      position: relative;
      .img-wrapper {
        @include setSize(px2rem(60px), px2rem(60px));
        border-radius: 100%;
        img {
          width: 100%;
          display: block;
          border-radius: 100%;
        }
      }

      .username {
        padding-left: px2rem(20px);
        width: 30%;
        line-height: px2rem(60px);
        color: $white;
        @include font-dpr(17px)
      }

      .message {
        position: absolute;
        top: px2rem(50px);
        right: px2rem(20px);
        @include setSize(px2rem(25px), px2rem(25px));
        background: url(../../assets/img/message_white.png) no-repeat center;
        background-size: 100%;
      }

    }

    svg {
      fill: $white;
      width: px2rem(10px);
      height: px2rem(10px);
      vertical-align: middle;
    }

    .mem-wrap {
      padding: px2rem(20px) 0 px2rem(15px);
      //@include setSize(100%, px2rem(40px));
      .mem-item {
        width: 25%;
        @include font-dpr(16px);
        line-height: px2rem(20px);
        color: $white;
        text-align: center;
        border-left: 2px solid #676766;
        p {
          color: #676766;
          @include font-dpr(12px)
        }
      }

      .mem-item:nth-of-type(1) {
        border-left: 0;
      }
    }

  }

  .order-container {
    margin-top: px2rem(10px);
    .order-list {
      margin-top: px2rem(10px);
      .no_data_text{
        @include font-dpr(12px);
        text-align: center;
      }
      .order-list-item {
        height: px2rem(260px);
        background-color: #ffffff;
        box-shadow: 0 0 0 0 #E8E8E8;
        padding: 0px px2rem(15px);
        margin-bottom:px2rem(10px);
        .h44 {
          height: px2rem(44px);
          line-height: px2rem(44px);
          @include font-dpr(12px);
        }
        .h44.orderstate {
          color: #999999;
        }
        .scenicInfo {
          height: px2rem(105px);
          width: 100%;
          padding: px2rem(15px) 0px;
          background: #FBFBFB;
          img {
            display: inline-block;
            float: left;
            height: px2rem(70px);
            width: px2rem(70px)
          }
          .desc {
            width: 70%;
            height: 100%;
            margin-left: px2rem(10px);
            float: left;
            text-align: left;
            .title {
              @include font-dpr(17px);
            }
            .payway {
              display: block;
              margin-top: px2rem(10px);
              @include font-dpr(14px);
            }
            .playway {
              display: block;
              margin-top: px2rem(10px);
              @include font-dpr(14px);
              color: $color-gray-secondary;
            }
          }
        }
        .order-info {
          @include font-dpr(12px);
          color: $color-gray-secondary;
          width: 100%;
          p {
            margin-top: px2rem(5px);
          }
        }
        .order-handle-btn {
          margin-top: px2rem(15px);
          width: px2rem(68px);
          height: px2rem(25px);
          color: #666666;
          border-radius: 2px;
          outline: none;
          @include font-dpr(12px);
          background-color: transparent;
          border: 1px solid #DEDEDE;
        }
        .order-handle-btn.red {
          background-color: $color-red;
          color: $white;
          border: 1px solid $color-red;
        }
      }
    }
  }

  .tab-wrap {
    height: px2rem(44px);
  }
  .ordertab {
    width: 20%;
    float: left;
    height: px2rem(44px);
    line-height: px2rem(44px);
    @include font-dpr(12px);
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
  }
  .ordertab.active span {
    height: 100%;
    display: inline-block;
    border-bottom: 2px solid #FF5A5F;
    color: #FF5A5F;
  }

}
