.withdrawDeposit {
  padding-top: px2rem(15px);
  .input-wrapper {
    padding: px2rem(10px) px2rem(20px);
    @include setSize(100%, px2rem(55px));
    @include font-dpr(15px);
    background: $color-white;
    position: relative;
    border-bottom: 1px solid $color-body-bg;
    .label {
      width: px2rem(80px);
      line-height: px2rem(35px);
      color: $color-black;
    }
    input {
      @include setSize(px2rem(240px), px2rem(35px));
      line-height: px2rem(55px);
      color: $color-black;
      border: none;
      @include font-dpr(14px);
       border: 0;
    }

  }
  .deposit-limit {
    padding: px2rem(8px) px2rem(20px);
    height: px2rem(44px);
    @include font-dpr(13px);
    color: $color-gray-secondary;
  }
  .btn-wrapper {
    margin-top: px2rem(20px);
    padding: 0 px2rem(20px);

    .sure-btn {
      @include setButton(100%, px2rem(45px), $white, $color-gray-secondary, px2rem(5px))
    }

    .active {
      @include setButton(100%, px2rem(45px), $white, $color-red, px2rem(5px))
    }
  }



}
