.prepay_order {
  width: 100%;
  .left-time {
    padding: px2rem(18px) px2rem(20px) 0;
  }

  .order-main {
    padding: px2rem(12px) px2rem(20px);

    background: $color-senior-bg;
    .img-wrapper {
      @include setSize(px2rem(80px), px2rem(80px));
      position: relative;
      img {
        @include center;
        width: 100%;
        max-height: 100%;
      }
    }

    .order-detail {
      margin-left: px2rem(15px);
      .order-item {
        @include setSize(100%, px2rem(20px));
        line-height: px2rem(20px);
        @include font-dpr(14px);
        color: $color-gray-secondary;
      }

      .order-price {
        color: $color-red;
        @include font-dpr(16px);
      }
    }

  }

  .account-wrapper {
    margin-top: px2rem(10px);
    padding: 0 px2rem(20px);
    background: $white;

    .account-balance {
      height: px2rem(50px);
      line-height: px2rem(50px);
      @include font-dpr(16px);
      color: $color-black-secondary;

    }
  }

  .another-accout {
    padding: 0 px2rem(20px);
    background: $white;
  }
  .all-pay {
    @include setSize(100%, px2rem(44px));
    line-height: px2rem(44px);
    background: $white;
    @include font-dpr(16px);
    color: $color-black-secondary;
    border-top: 1px solid $color-body-bg;
    text-align: center;
    span {
      padding-right: px2rem(20px);
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        @include setSize(px2rem(12px), px2rem(12px));
        border-right: 1px solid $color-gray-secondary;
        border-bottom: 1px solid $color-gray-secondary;
        @include transform(rotate(45deg));
      }

    }
  }

  .sure-pay {
    padding: px2rem(20px);
    .pay-btn {
      @include setButton(100%, px2rem(50px), $white, $color-red, px2rem(3px));

    }
  }

/*输入交易密码弹窗*/
  .cube-code-popup .cube-popup-mask {
    overflow: hidden;
    background-color: #25262d;
    opacity: .75;
  }

  .cube-code-popup .code-wrap{
    padding: px2rem(20px);
    width:  px2rem(320px);
    background: $white;
    border-radius: px2rem(6px);
    position: relative;
    .close {
      position: absolute;
      top: px2rem(10px);
      right: px2rem(10px);
      @include setSize(px2rem(35px), px2rem(35px));
      &:before, &:after {
        content: '';
        position: absolute;
        top:  px2rem(15px);
        right: px2rem(3px);
        @include setSize(px2rem(20px), 3px);
        background: #000;
        @include transform(rotate(45deg));
      }
      &:after {
        @include transform(rotate(135deg));
      }

    }

    h5 {
      @include font-dpr(15px);
      text-align: center;
      line-height: px2rem(30px);
      color: $color-black-secondary;

    }

    .code-input {
      display: block;
      width: 100%;
      margin: px2rem(10px) auto px2rem(30px);
      padding: px2rem(10px);
      line-height: px2rem(20px);
      @include font-dpr(16px);
      border: 1px solid $color-gray-primary;
      color: $color-black;
      text-align: center;
      border-radius: px2rem(3px);
    }

    .surePay {
      display: block;
      margin: 0 auto;
      @include setButton(px2rem(200px), px2rem(40px), $white, $color-red, px2rem(8px))
    }

  }

}
