/**
 * Created by tangyuanyuan on 2017/3/19.
 */
.my-password{
  .mint-popup-bottom{
    height:px2rem(738px);
  }
  ul li{

  }
  .vue_input_code{
    height:1rem;
    border: 1px solid #fff;
    padding: 15%;
  }
  .tip{
    line-height: px2rem(85px);
    text-align: center;
    color:$color-gray-primary;
  }

  .forget-code {
    text-align: center;
    color: $color-blue;
    line-height: 2.7;
  }
  .code-wrap{
    padding-left: px2rem(50px);
  }
  .code-wrap span:nth-of-type(1){
    border-left: 1px solid #f0f0f0;;
  }
  .codeNum {
    display: block;
    float: left;
    width: px2rem(90px);
    height: px2rem(90px);
    border-right: 1px solid #f0f0f0;
    border-left: none;
    background: #fff;
    @include font-dpr(16px);
    line-height: px2rem(90px);
    text-align: center;
  }
  .numberKeyboard{
    .header{
      display: none;
    }
  }
  //支付状态动画
  .paying,.payFanished,.payError{
    margin-left: px2rem(-70px);
    position: absolute;
    top: px2rem(215px);
    left: 50%;
    @include setSize(px2rem(140px),px2rem(140px));
    border-radius: px2rem(70px);
  }
  .payFanished{
    border: solid px2rem(3px) #42c329;
    &:after{
      width:px2rem(40px);
      height:px2rem(70px);
      content: "";
      display: block;
      border-bottom: px2rem(4px) solid #42c329;
      border-right: px2rem(4px) solid #42c329;
      transform: rotate(45deg);
      position: absolute;
      top: px2rem(17px);
      left: px2rem(46px);
    }
  }
  .payError{
    border: solid px2rem(3px) #fc6b5e;
    &:after{
      width:px2rem(80px);
      height:px2rem(0px);
      content: "";
      display: block;
      border-bottom: px2rem(4px) solid #fc6b5e;
      transform: rotate(45deg);
      position: absolute;
      top: px2rem(65px);
      left: px2rem(29px);
    }
    &:before{
      width:px2rem(80px);
      height:px2rem(0px);
      content: "";
      display: block;
      border-bottom: px2rem(4px) solid #fc6b5e;
      transform: rotate(-45deg);
      position: absolute;
      top: px2rem(65px);
      left: px2rem(29px);
    }
  }
  .status{
    text-align: center;
    margin-top: px2rem(300px);
  }
  .font12{
    @include font-dpr(12px);
  }
}

