.yellow_star{
  display:inline-block;
  position:relative;
  width: 1.5rem;
  height:.3rem;
  >div{
    position:absolute;
    left:0;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    &.back{
      z-index:2;
      svg{
        width:.3rem;
        height:.3rem;
        fill: #ccc;
      }
    }
    &.front{
      z-index:3;
      svg{
        width:.3rem;
        height:.3rem;
        fill: #ffaa0c;
      }
    }
  }
}