.stars {
  margin: 0 auto;
  display:inline-block;
  position:relative;
  width: px2rem(150px);
  height:px2rem(24px);
  >div{
    position:absolute;
    left:0;
    top:0;
    white-space:nowrap;
    overflow:hidden;

    &.back{
      z-index:2;
      svg{
        //padding: px2rem(5px);
        width:px2rem(30px);
        height:px2rem(30px);
        fill: #ccc;
      }
    }
    &.front{
      z-index:3;
      svg{
        //padding: px2rem(5px);
        width:px2rem(30px);
        height:px2rem(30px);
        fill: #ffaa0c;
      }
    }
  }
}
