.switch-option {
  display :flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: px2rem(15px) 0;
  .name {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    @include font-dpr(16px);
  }

  .switch-ellipse {
    align-self: center;
    flex: 0 0 auto;
    margin-top: px2rem(5px);
    display: inline-block;
    position: relative;
    height: px2rem(30px);
    width: px2rem(50px);
    background-color: $white;
    border-radius: 1000px;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: all 0.1s;
    &.active {
      background-color: $color-green;
      border-color: transparent;
      transition: all 0.2s ease 0.2s;
    }
    .switch-circle {
      position: absolute;
      height: px2rem(26px);
      width: px2rem(26px);
      background: white;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, .1);
      box-shadow: -1px 1px 1px #999;
      top: 0;
      left: 0;
      transition: all 0.3s;
      &.active {
        left: px2rem(20px);
        border: 1px solid $white;
        box-shadow: -1px 1px 1px $color-green;
        transition: all 0.3s ease 0.05s;
      }
    }
  }

  .unswitch {
    background: $color-gray-secondary;
  }
}
