.guide_detail {
  width: 100%;
  //padding-top: px2rem(40px);
  padding-bottom: px2rem(80px);
  .swiper-container {
    @include setSize(100%, px2rem(300px))
  }
  .swiper-slide {
    width: 100%;
    height: 8rem;
    max-height: px2rem(300px);
    position: relative;
    img {
     width: 100%;
      height: 100%;

    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 100%;
    bottom: px2rem(10px)
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 px2rem(5px);
  }
  .swiper-pagination-bullet {
    @include setSize(px2rem(10px), px2rem(10px));
    background: #333;
    opacity: 0.3;
  }
  .swiper-pagination-bullet-active {
    @include setSize(px2rem(10px), px2rem(10px));
    background: $white;
    opacity: 1;
  }
  .guide-photo {
    @include setSize(100%, px2rem(300px));

    img {
      width: 100%;
      max-height: px2rem(300px);
    }
  }
  .guide-info {
    background: $white;
    padding: px2rem(20px);
    border-bottom: 1px solid $gray;
    position: relative;
    .name {
      @include font-dpr(24px);
      line-height: px2rem(45px);
      span {
        padding: 0 px2rem(5px);
        color: $color-gray-secondary;
        @include font-dpr(13px)
      }
      .guide-price {
        margin-left: px2rem(8px);
        padding: 0 px2rem(5px);
        background: $color-body-bg;
        line-height: px2rem(25px);
        @include font-dpr(13px);
        color: $color-red;
        border-radius: px2rem(3px);
        span {
          line-height: px2rem(15px);
          @include font-dpr(11px);
          color: $color-black-secondary;
        }
      }
    }

    .certification {
      @include font-dpr(13px);
      color: $color-black;
      span {
        padding:0 px2rem(6px);
        position: relative;
        &:after {
          content: '';
          @include centerTop;
          right: 0;
          width: 2px;
          height: px2rem(15px);
          background: $color-gray-secondary;
        }
      }

      span:nth-of-type(1) {
        padding-left: 0;
      }
      span:nth-last-of-type(1) {
        &:after {
          background: $white;
        }
      }
    }

    .img-wrapper {
      @include centerTop;
      right: px2rem(20px);

      @include setSize(px2rem(66px), px2rem(66px));
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 50%;
      }

      .male {
        padding: px2rem(3px);
        @include setSize(px2rem(20px), px2rem(20px));
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background:#fff url(../../assets/img/male.png) no-repeat center;
        background-size: px2rem(18px) px2rem(18px);
      }

      .female {
        background:#fff url(../../assets/img/female.png) no-repeat center;
        background-size: px2rem(18px) px2rem(18px);
      }
    }

  }



  .guide-date {
    @include setSize(100%, px2rem(72px));
    background: $white;
    @include flexJust;
    .date-item {
     @include flex(1);
      text-align: center;
      padding-top: px2rem(16px);
      strong {
        @include font-dpr(18px);
        line-height: px2rem(24px);

      }
      .guid-p {
        color: $color-red;
        span {
          @include font-dpr(13px)
        }
      }
      p {
        @include font-dpr(14px);
        color: $color-gray-secondary;
      }
    }
  }

  .detail-container {
    margin-top: px2rem(8px);
    padding: px2rem(18px) px2rem(20px);
    background: $white;
    .about, .guide-img {
      padding-bottom: px2rem(21px);
      position: relative;
      h3 {
        @include font-dpr(20px);
        line-height: 2;
      }

      .introduce {

        line-height: px2rem(22px);
        @include font-dpr(14px);
        color: $color-black;

      }
      .img-wrapper {
        width: 100%;
        //padding: 0 px2rem(20px);
        //margin-bottom: px2rem(20px);
        .img-container {
          width: px2rem(165px);
          padding: 35% 0 0;
          position: relative;
          margin-bottom: px2rem(6px);
          img {
            @include center;
            width: 100%;
            max-height: 100%;
          }
        }

        .img-container:nth-of-type(2n) {
          float: right;

        }

        .img-container:nth-of-type(2n+1) {
          float: left;
        }

      }

      .clipFive {
        height: px2rem(110px);
        @include cliptxt(5)
      }

      .see-all {
        position: absolute;
        right: px2rem(5px);
        bottom: px2rem(5px);
        color: $color-red;
        @include font-dpr(14px);
      }
    }

    .tite {
      @include font-dpr(20px);
      line-height: 2;
      color: $color-black;
      border-bottom: 1px solid $color-body-bg;
    }

    .tourist-eval {


      .all-command {
        .command-tit {
          padding: px2rem(5px) 0;
          position: relative;
          .command-num {
            @include font-dpr(18px);
            color: $color-black;
            line-height: 1.3;
          }
          .see-command {
            @include centerTop;
            right: 0;
            color: $color-red;
            line-height: 2;
            @include font-dpr(16px)
          }

        }


        .command-tip {
          padding-top: px2rem(10px);

          .tip {
            @include setSize(30%, px2rem(33px));
            line-height: px2rem(30px);
            text-align: center;
            @include font-dpr(12px);
            color: $color-gray-secondary;
            margin-right: 4% ;
            margin-bottom: px2rem(10px);
            border: 1px solid $color-gray-secondary;
          }

          .tip:nth-of-type(3n) {
            margin-right: 0;
          }
        }
      }

    }
  }

  /*其他向导玩法*/
  .other-playmethos{

    .methods {
      width: 100%;
      padding-bottom: px2rem(20px);
      .method-img {
        height: px2rem(75px);
        width: px2rem(120px);
        margin-right: px2rem(12px);
        img {
          width: 100%;
          max-height: 100%;
        }
      }

      .method-detail {
        width: px2rem(200px);
        .method-name {
          @include font-dpr(15px);
          line-height: px2rem(25px);
          color: $color-black;
          @include setSize(100%, px2rem(25px));
        }
        .method-desc {
          @include setSize(100%, px2rem(25px));
          @include font-dpr(14px);
          @include cliptxt(2);
          color: $color-black-secondary;
          line-height: px2rem(25px);
          span {
            padding-right: px2rem(15px);
          }
        }

        .method-tip {
          text-align: left;
          line-height: px2rem(25px);
          @include font-dpr(13px);
          color: $color-black-secondary;
          span {
            padding-right: px2rem(10px);
          }
        }
      }


      .method-txt {
        margin-top: px2rem(16px);
        @include setSize(100%, px2rem(64px));
        padding: px2rem(10px);
        background: $color-body-bg;
        p {
          line-height: px2rem(22px);
          width: 100%;
          @include cliptxt(2);
          @include font-dpr(14px);
        }
      }
    }


  }


  .secnic-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    @include setSize(100%, px2rem(80px));
    padding: px2rem(17px) px2rem(20px);
    background: $white;
    box-shadow:0px px2rem(-4px) px2rem(14px) $color-gray-secondary;

    .fucc {
      font-size:0;
      span {
        display: inline-block;
        @include setSize(px2rem(80px),100%);
        padding-top: px2rem(30px);
        @include font-dpr(11px);
        color: $color-black;
        line-height: px2rem(16px);
        text-align: center;
      }

      .favarate {
        background: url(../../assets/img/details_icon_mark@2x.png) no-repeat center px2rem(3px);
        background-size: px2rem(26px) px2rem(26px);
      }

      .favarated {
        background: url(../../assets/img/details_icon_mark_on@2x.png) no-repeat center px2rem(3px);
        background-size: px2rem(26px) px2rem(26px);
      }
      .chat {
        background: url(../../assets/img/Group@2x.png) no-repeat center px2rem(5px);
        background-size: px2rem(22px) px2rem(22px);
      }
    }
    .order-btn {
      @include setButton(px2rem(168px), px2rem(46px), $white, $color-red , px2rem(4px))
    }
  }

/*选择向导玩法*/

  .plays-content {
    padding: px2rem(20px);
    @include setSize(100%, px2rem(350px));
    overflow: scroll;
    background: $white;
    position: relative;
    .close {
      position: absolute;
      top: px2rem(10px);
      right: px2rem(10px);
      @include setSize(px2rem(30px), px2rem(30px));
      &:before, &:after {
        content: '';
        position: absolute;
        top: px2rem(15px);
        left: 0;
        @include transform(rotate(45deg));
        @include setSize(px2rem(30px), 2px);
        background: $color-black;
      }

      &:after {
        @include transform(rotate(135deg));
      }
    }

    .head-tit {
      height: px2rem(30px);
      line-height: px2rem(30px);
      color: $color-black;
      @include font-dpr(13px)
    }
    .no-play {
      @include setSize(100%, px2rem(60px));
      line-height: px2rem(60px);
      @include font-dpr(15px);
      text-align: center;
      color: $color-gray-secondary;
    }
    .choose-item {
      //@include setSize(100%, px2rem(60px));
      width: 100%;
      margin-bottom: px2rem(10px);
      line-height: px2rem(50px);
      @include font-dpr(14px);
      border-bottom: 1px solid $color-body-bg;
      color: $color-black-secondary;
      span {
        color: $color-black;
      }
      svg {
        fill: $color-gray-secondary;
        width: px2rem(16px);
        height:px2rem(16px);
        vertical-align: text-bottom;
      }
    }
    //选择玩法
    .choose-playmethos {
      .methods {
        width: 100%;
        padding: px2rem(10px);
        background: $color-body-bg;
        .method-img {
          height: px2rem(50px);
          width: px2rem(80px);
          margin-right: px2rem(12px);
          img {
            width: 100%;
            max-height: 100%;
          }
        }

        .method-detail {
          width: px2rem(200px);
          .method-name {
            @include font-dpr(15px);
            line-height: px2rem(25px);
            color: $color-black;
            @include setSize(100%, px2rem(25px));
          }
          .method-desc {
            @include setSize(100%, px2rem(25px));
            @include font-dpr(14px);
            @include cliptxt(2);
            color: $color-black-secondary;
            line-height: px2rem(25px);
            span {
              padding-right: px2rem(15px);
            }
          }

          .method-tip {
            text-align: left;
            line-height: px2rem(25px);
            @include font-dpr(13px);
            color: $color-black-secondary;
            span {
              padding-right: px2rem(10px);
            }
          }
        }


        .method-txt {
          margin-top: px2rem(16px);
          @include setSize(100%, px2rem(64px));
          padding: px2rem(10px);
          background: $color-body-bg;
          p {
            line-height: px2rem(22px);
            width: 100%;
            @include cliptxt(2);
            @include font-dpr(14px);
          }
        }
      }





    }
  }

  .bootom-cotent {
    padding: px2rem(20px);
    padding-bottom: px2rem(80px);
    @include setSize(100%, px2rem(420px));
    background: $white;
    position: relative;
    .close {
      position: absolute;
      top: px2rem(10px);
      right: px2rem(10px);
      @include setSize(px2rem(30px), px2rem(30px));
      &:before, &:after {
        content: '';
        position: absolute;
        top: px2rem(15px);
        left: 0;
        @include transform(rotate(45deg));
        @include setSize(px2rem(30px), 2px);
        background: $color-black;
      }

      &:after {
        @include transform(rotate(135deg));
      }
    }


    .head-wrapper {
      .region-name {
        @include font-dpr(24px);
        line-height: px2rem(30px);
        span {
          box-sizing: border-box;
          display: inline-block;
          @include font-dpr(14px);
          line-height: px2rem(30px);
          padding-left: px2rem(10px);
          padding-right: px2rem(8px);
          background:  url(../../assets/img/Rectangle.png) no-repeat center;
          background-size: px2rem(50px) px2rem(20px);
          color: $white;
        }
      }

      .region-adress {
        @include font-dpr(16px);
        line-height: px2rem(28px);
        padding-left: px2rem(30px);
        background: url(../../assets/img/search_list_local@2x.png) no-repeat px2rem(8px) center;
        background-size: px2rem(15px) px2rem(20px);
      }

      .tips {
        padding: px2rem(10px) 0;
        .tip {
          margin-right: px2rem(10px);
          padding: 0 px2rem(3px);
          background: $color-senior-bg;
          color: $color-brown-primary;
          @include font-dpr(12px)
        }
      }
    }


    .choose-item {
      @include setSize(100%, px2rem(50px));
      line-height: px2rem(50px);
      @include font-dpr(14px);
      border-bottom: 1px solid $color-body-bg;
      color: $color-gray-secondary;
      span {
        color: $color-black;
      }
      svg {
        fill: $color-gray-secondary;
        width: px2rem(16px);
        height:px2rem(16px);
        vertical-align: text-bottom;
      }
    }

    .next-step {
      padding: 0;
      @include centerLeft;
      bottom: px2rem(10px);
      @include setSize(90%, px2rem(50px));
      line-height: px2rem(50px);
    }
  }

}

/*选择联系方式*/
.connection-contain {
  padding: px2rem(20px);
  background: $white;
  position: relative;
  h3 {
    height: px2rem(40px);
    line-height: px2rem(40px);
    text-align: center;
    @include font-dpr(16px)
  }

  .close {
    position: absolute;
    top: px2rem(10px);
    right: px2rem(10px);
    @include setSize(px2rem(30px), px2rem(30px));
    &:before, &:after {
      content: '';
      position: absolute;
      top: px2rem(15px);
      left: px2rem(5px);
      @include transform(rotate(45deg));
      @include setSize(px2rem(20px), 2px);
      background: $color-black;
    }

    &:after {
      @include transform(rotate(135deg));
    }
  }
  .con-item {
    @include setSize(px2rem(300px), px2rem(35px));
    background: $color-red;
    text-align: center;
    line-height: px2rem(35px);
    color: $white;
    @include font-dpr(14px)
  }

  .con-tel {
    background: #00ba6e;
    margin-bottom: px2rem(10px);
    a {
      display: block;
      width: 100%;
      height: px2rem(35px);
      color: $white;
    }
  }

  .con-chat {
    background: #FF7F50;

  }
}
